# Build directories
RunningStats/bin/
RunningStats/obj/

# Visual Studio settings
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache

# Rider settings
RunningStats/.idea/

# Publish output
RunningStats/publish/

env/

RunningStats.Tests/bin/
RunningStats.Tests/obj/