# -------------------------------------
# Visual Studio / .NET build artifacts
# -------------------------------------
RunningStats/bin/
RunningStats/obj/
RunningStats.Tests/bin/
RunningStats.Tests/obj/
RunningStats.IntegrationTests/bin/
RunningStats.IntegrationTests/obj/

# Visual Studio settings
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache

# Rider settings
RunningStats/.idea/

# Publish output
RunningStats/publish/

# Environment folder
env/

